appnope
asttokens
backcall
comm
debugpy
decorator
entrypoints
executing
ipykernel
ipython
jedi
jupyter-client
jupyter_core
matplotlib-inline
nest_asyncio
numpy==1.24.4
packaging
parso
pexpect
pickleshare
platformdirs
prompt-toolkit
psutil
ptyprocess==0.7.0
pure-eval
Pygments
python-dateutil
pyzmq
six
stack-data
tornado
traitlets
typing_extensions
wcwidth
