appnope
asttokens
backcall
cloudpickle==3.0.0
comm
contourpy==1.1.1
cycler==0.12.1
debugpy
decorator
entrypoints
executing
filelock==3.13.3
fonttools==4.50.0
fsspec==2024.3.1
gym==0.26.2
gym-notices==0.0.8
importlib_metadata==7.1.0
importlib_resources==6.3.1
ipykernel
ipython
jedi
Jinja2==3.1.3
jupyter-client
jupyter_core
kiwisolver==1.4.5
MarkupSafe==2.1.5
matplotlib==3.7.5
matplotlib-inline
mpmath==1.3.0
nest_asyncio
networkx==3.1
numpy==1.24.4
packaging
parso
pexpect
pickleshare
pillow==10.2.0
platformdirs
prompt-toolkit
psutil
ptyprocess
pure-eval
Pygments
pyparsing==3.1.2
python-dateutil
pyzmq
six
stack-data
sympy==1.12
torch==2.2.1
torchaudio==2.2.1
torchvision==0.17.1
tornado
tqdm==4.66.2
traitlets
typing_extensions
wcwidth
zipp==3.18.1